
<%- include ../partials/header.ejs %>

<!--nav-->
<%- include ../partials/main_nav.ejs %>

  <!--main content-->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1>Business Contacts</h1>
            <a href="/book-list/add" class="btn btn-primary"role="button">
            <i class="fas fa-plus-circle"></i> Add a contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Age</th>
                    <th class="text-center col-4">Phone</th>
                    <th class="text-center col-2"></th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < bookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= bookList[count].Name %></td>
                        <td class="text-center col-2"><%= bookList[count].Age%></td>
                        <td class="text-center col-4"><%= bookList[count].Phone%></td>
                        <td class="text-center col-2">
                            <a href="/book-list/edit/<%= bookList[count]._id%>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>Edit</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/book-list/delete/<%= bookList[count]._id%>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>


<!--foot nav-->
<%- include ../partials/bottom_nav.ejs %>

<!--foot-->
<%- include ../partials/footer.ejs %>